<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TomatoDoer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TomatoDoer.Properties.Settings>
            <setting name="EvernoteUserEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="EvernoteMailTag" serializeAs="String">
                <value>Pomodoro</value>
            </setting>
            <setting name="EvernoteMailNotebook" serializeAs="String">
                <value>Done</value>
            </setting>
            <setting name="EvernoteMailSubject" serializeAs="String">
                <value>{0} tomato(es) — at {1}.</value>
            </setting>
        </TomatoDoer.Properties.Settings>
    </userSettings>
		<system.net>
      <mailSettings>
        <smtp deliveryMethod="network" from="ben@contoso.com">
          <network
            host="smtp.server.com"
            port="25"
      password="YourPassword"
      enableSsl="false"
      userName="UserName"
          />
        </smtp>
      </mailSettings>
    </system.net>

</configuration>